/* Enter your custom styles here */
#__toolbar1 {
  background: transparent !important;
  height: 6vh !important;
}
/* #__text8-__clone30, #__text8-__clone43{
  color: blue!important;
} */
/* .color{
  color: blue!important
} */